@media print {
  @page {
    size: A4 portrait;
    margin: 15mm;
  }
  thead th {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

/* General*/
body {
  font-size: 10pt;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #000;
  background-color: #fff;
}
section {
  display: block;
  margin: 15pt 0 15pt 0;
}
p {
  margin: 6pt 0 6pt 0;
}

hr {
  border: 1px solid #000000b0;
  border-top: none;
}

/* Fonts */
h1 {
  font-size: 17pt;
}
h2 {
  font-size: 15pt;
}
h3 {
  font-size: 13pt;
}
strong {
  font-weight: bold;
}
small {
  font-weight: lighter;
  font-size: 90%;
}
time {
  font-style: italic;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 9pt;
}
thead th {
  background-color: #000000b0;
  color: #fff;
}
th, td {
  padding: 2pt;
  text-align: left;
  border: 1px solid #000000b0;
}